/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700;800&family=Lora:wght@400;500;600;700&family=Overpass:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.transparentText {
  color: #121212;
  -webkit-text-stroke: 2px #121212;
  -webkit-text-fill-color: transparent;
}

.transparentTextColored {
  color: #fb923c;
  -webkit-text-stroke: 2px #fb923c;
  -webkit-text-fill-color: transparent;
}


.product__scrollbar::-webkit-scrollbar {
  display: none;
}

.mobileDark {
  background: linear-gradient(0deg,#111,rgb(17, 17, 17) 13%,rgba(17, 17, 17, 0.954) 22%,rgb(17, 17, 17) 41%,rgba(0, 0, 0, 0.958))
}