/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700;800&family=Lora:wght@400;500;600;700&family=Overpass:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: Overpass;
}

h1,h2 {
  font-family: Lora;
}

p {
  font-family: Overpass;
}

.transparentText {
  color: #121212;
  -webkit-text-stroke: 2px #121212;
  -webkit-text-fill-color: transparent;
}

.transparentTextColored {
  color: #fb923c;
  -webkit-text-stroke: 2px #fb923c;
  -webkit-text-fill-color: transparent;
}


.product__scrollbar::-webkit-scrollbar {
  display: none;
}

.mobileDark {
  background: linear-gradient(0deg,#111,rgb(17, 17, 17,0.99) 13%,rgba(17, 17, 17, 1) 22%,rgb(17, 17, 17,0.99) 41%,rgba(0, 0, 0, 0.99))
}

.bigTitle {
  @apply uppercase text-4xl md:text-7xl font-bold leading-snug
}

.bigTitleWhite {
  @apply text-6xl font-semibold text-white mt-4 md:text-8xl md:uppercase md:font-extrabold md:text-white
}

.mediumTitle {
  @apply uppercase text-3xl md:text-4xl font-bold leading-snug mb-4
}

.box {
  @apply min-h-screen md:max-w-7xl md:mx-auto text-center pt-12 md:py-24 px-4 md:px-0
}