/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,700;0,900;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.transparentText {
  color: #121212;
  -webkit-text-stroke: 2px #121212;
  -webkit-text-fill-color: transparent;
}

.transparentTextColored {
  color: #fb923c;
  -webkit-text-stroke: 2px #fb923c;
  -webkit-text-fill-color: transparent;
}
