/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700;800&family=Lora:wght@400;500;600;700&family=Overpass:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: Overpass;
}

h1,
h2 {
  font-family: Lora;
}

p {
  font-family: Overpass;
}

.transparentText {
  color: #121212;
  -webkit-text-stroke: 2px #121212;
  -webkit-text-fill-color: transparent;
}

.transparentTextColored {
  color: #fb923c;
  -webkit-text-stroke: 2px #fb923c;
  -webkit-text-fill-color: transparent;
}

.product__scrollbar::-webkit-scrollbar {
  display: none;
}

.mobileDark {
  background: linear-gradient(
    0deg,
    #111,
    rgb(17, 17, 17, 0.99) 13%,
    rgba(17, 17, 17, 1) 22%,
    rgb(17, 17, 17, 0.99) 41%,
    rgba(0, 0, 0, 0.99)
  );
}

.bigTitle {
  @apply uppercase text-3xl md:text-5xl font-bold leading-snug;
}

.bigTitleWhite {
  @apply text-6xl font-semibold text-white mt-4 md:text-8xl md:uppercase md:font-extrabold md:text-white;
}

.mediumTitle {
  @apply uppercase text-3xl md:text-4xl font-bold leading-snug mb-4;
}

.box {
  @apply min-h-screen md:max-w-7xl md:mx-auto text-center pt-12 md:py-24 px-4 md:px-0;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}

.primary-button {
  @apply rounded bg-orange-400 py-2 px-4 shadow outline-none hover:bg-orange-500 active:bg-orange-500 ease-in duration-300 text-white;
}

.default-button {
  @apply rounded bg-gray-100 py-2 px-4 text-black shadow outline-none hover:bg-gray-200 active:bg-gray-300;
}

input,
select,
textarea {
  @apply rounded border p-2 outline-none ring-indigo-300 focus:ring;
}

.dropdownLink {
  @apply flex p-2 bg-white hover:bg-gray-200;
}

.bsUOBL::-webkit-scrollbar {
  display: none;
}

/* a {
  @apply text-blue-600 hover:text-blue-800;
} */

li {
  list-style: none;
}

.hide-overflow::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 0.65rem;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(251, 150, 60);
  background-clip: content-box;
}

.mapboxgl-ctrl-attrib-inner,
.mapboxgl-ctrl-logo {
  display: none !important;
}
